
.cell[data-type="1"]{
    color: blue;
}

.cell[data-type="2"]{
    color: green;
}

.cell[data-type="3"]{
    color: red;
}

.cell[data-type="4"]{
    color: rebeccapurple;
}

.cell[data-type="5"]{
    color: rgb(125, 27, 27);
}

.cell[data-type="6"]{
    color: rgb(20, 154, 154);
}

.cell[data-type="7"]{
    color: black;
}

.cell[data-type="8"]{
    color: gray;
}