@import '/src/sass/config';
@import '/src/sass/cell-colors';

.cell {
    cursor: pointer;
    aspect-ratio: 1;
    width: $cell-width;
    background: $cell-background;
    color: rgb(var(--secondary-color));
    font-size: 17px;
    font-weight: bold;
    box-shadow: var(--shadow);
    @include center;
    &.revealed {
        background-color: $cell-revealed-background;
    }
}

.mine {
    width: 60%;
    aspect-ratio: 1;
    background-color: $mine-background;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.flag {
    width: 60%;
    background-color: $flag-background;
    aspect-ratio: 1;
    clip-path: polygon(24% 40%, 75% 0%, 75% 44%, 75% 100%, 71% 100%, 72% 40%);
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .cell {
        width: $cell-width-min
    }
}