header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    height: 10vh;
    margin-bottom: 1em;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    h1 {
        font-size: 1.5rem;
    }
}