select {
    width: 18vw;
    max-width: 200px;
    height: 30px;
    border-radius: 0.5rem;
    border: 1px rgb(var(--primary-color)) solid;
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
    &:focus {
        outline: none;
    }
}